{% extends 'home/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load hitcount_tags %}
{% comment %} {% load social_share %} {% endcomment %}
{% load humanize %}
{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'home/css/post_detail.css' %}" />
  </head>

  <section class="row">
    {% block tabs %}

    {% endblock %}

    <div class="vidLibrary" data-aos="fade-up">
      <h2>{{ post.title }}</h2>

      {% if post.video %}
        <div class="vidcontrol">
          {% video post.video '80%x600' %}
        </div>
      {% endif %}

      <div class="vid-dets row">
        <small>{{ post.created }}</small>
        <small style="margin: 0 5vw;">{{ post.location }}</small>
      </div>
      <div class="shareing row">
        <label style="margin-right: 1.2vw;">{% get_hit_count for post %}Views</label>
        <a href="" class="pill-tabs">Post to Instagram</a>
        <a href="" class="pill-tabs">Post to twitter</a>
        <a href="" class="pill-tabs">Post to Facebook</a>
      </div>
      <div class="addTags row">
        <label style="color: var(--admgreen);margin-right: 1.2vw;">Tags</label>

        {% for tag in post.tags.all %}
          <a href="{% url 'home:post_tags' tag %}" class="pill-tabs">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
  </section>

  
    <section class="seemore">
      <h2 data-aos="fade-up">{{post.sub_heading}}</h2>
      <p data-aos="fade-up">{{post.description}}</p>
      <button data-aos="fade-up" class="gBtn">See More</button>

      <br />
      <br />
      <br />
      <br />
      <br />
      <h2 data-aos="fade-up">{{post.author}}</h2>
      
      {% if post.images %}
      <div data-aos="fade-up" class="swiper2" style="overflow: hidden;padding: 5vw 4vw;background-color: white;position: relative;">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="detscaro" src="{{post.banner.url}}" alt="" />
            {% comment %} <div class="txt">
              <h2>Check {{post.author.first_name}}`s Profile</h2>
              <h4><a href="{% url 'accounts:user_profile' post.author.pk %}">See profile</a></h4>
            </div> {% endcomment %}
          </div>
          
          {% if post.images %}
            
            {% for item in post.images.all %}
              
          <div class="swiper-slide">
            <img class="detscaro" src="{{ite.image.url}}" alt="" />
            <div class="txt">
            {% comment %} <h2>HIKMA COMMUNITY COMPLEX</h2> {% endcomment %}
              <h4>Uploaded on {{item.image.created|naturaltime}}</h4> 
            </div>
          </div>  
            {% endfor %}
              
          {% endif %}
           
        </div>
        <div class="swiper-pagination"></div>
      </div>    
      {% endif %}
        
    
    </section>

  <section class="messenger">
    <div class="messageSection">
      {% if post.comments %}
        <h2>{{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</h2>
      {% endif %}

      {% for comment in post.comments.all %}
        <div class="messageCont" data-aos="fade-up">
          <div class="messagepost">
            {% if comment.auth.photo %}
              <div class="msgProfile">
                <img src="{{ comment.author.photo.url }}" alt="" />
              </div>
            {% endif %}

            <div class="messagetxt">
              <h2>{{ comment.author }}</h2>
              <p style="margin-top: 0;">{{ comment.message }}</p>
              <div class="favico">
                <button class="buttonicon"><i class="far fa-heart"></i></button>
                <button class="buttonicon"><i class="fas fa-paper-plane"></i></button>
                <button class="buttonicon"><i class="far fa-comment-alt"></i></button>
                <button class="buttonicon"><i class="fas fa-share-alt"></i></button>
                <button class="buttonicon"><i class="fas fa-bookmark"></i></button>
              </div>
            </div>
          </div>
          <div class="reply-inputline">
            {% if request.user.photo %}
              <img src="{{ request.user.photo.url }}" alt="" />
            {% endif %}

            <div class="txt">
              <input type="text" placeholder="Reply to {{ post.author }}" />
            </div>
            <div class="bb" style="display: flex;justify-content: end;width: 100%;margin: 1.5rem 0;">
              <button class="gBtn-sm">Submit</button>
            </div>
          </div>

          <div class="reply-inputarea">
            <div style="display: flex;">
              <img src="{% static 'home/img/Avatar preview.png' %}" alt="" />
              <h4>wilhelmcharwey</h4>
            </div>
            <div class="">
              <textarea name="replyArea" placeholder="Reply to profgalloway" id="" rows="10"></textarea>
            </div>
            <div class="bb" style="display: flex;justify-content: end;width: 100%;margin: 1.5rem 0;">
              <button class="gBtn-sm">Submit</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
