{% load static %}
{% load i18n %}

    


<div class="intro" >
    <h1>Press</h1>
   
</div>
<div id="press">
    <head>
        <link rel="stylesheet" href="{% static 'home/css/press.css' %}">
        
    </head>

   


    


  <div class="press-container">


<div class="container">
    <div class="messagetxt">
        <div class="press-content">
        <h2>Oct. 15, 2020</h2>
        <div class="items">
            <h2 class="heading"><strong>PRINT,   
            </strong>“Black Designers: Forward in Action (Part IV)” by Cheryl D. Holmes-Miller <span class="dots">  ....</span></h2>
            <div class="linx">
                <a class="press-link" href="https://www.printmag.com/post/black-designers-forward-in-action-part-iv">See More</a>
            
            </div>
        </div>
      </div>
    </div>
    <div class="messagetxt">
        <div class="press-content">
        <h2>July 28, 2020</h2>
        <div class="items">
            <h2 class="heading"><strong>Brand New (UnderConsideration),   
            </strong>by Armin Vit African Design Matters directory <span class="dots">  ....</span></h2>
            <div class="linx">
                <a class="press-link" href="https://www.underconsideration.com/brandnew/archives/african_design_matters.php ">See More</a>
            
            </div>
        </div>
      </div>
    </div>
    <div class="messagetxt">
        <div class="press-content">
        <h2>July 24, 2020</h2>
        <div class="items">
            <h2 class="heading"><strong>The Futur’s Finds Newsletter,   
            </strong>by Chris Do. <span class="dots">  ....</span></h2>
            <div class="linx">
                <a class="press-link" href="https://www.thefutur.com">See More</a>
            
            </div>
        </div>
      </div>
    </div>
    <div class="messagetxt">
        <div class="press-content" >
        <h2 style="white-space: nowrap;">July 22, 2020</h2 >
        <div class="items">
            <h2 class="heading"><strong>The AIGA Design,   
            </strong>the Professional Association for Design, also interviewed me on the “Future Design Now” (Instagram Live). Dubbed: “Simon Charwey, founder of @africandesignmatters, chats with Lee Sean about African design systems and connecting the Continent with the Diaspora, bringing African perspectives to design curriculum, and more. <span class="dots">  ....</span></h2>
            <div class="linx">
                <a class="press-link" href="https://www.instagram.com/tv/CC8_C4igr2y/?igshid=yf86uigom6yv ">See More</a>
            
            </div>
        </div>
      </div>
    </div>

    <div class="messagetxt">
        <div class="press-content">
        <h2>July 9, 2020</h2>
        <div class="items">
            <h2 class="heading"><strong>Ameyaw Debrah,   
            </strong>top Ghanaian journalist talks about “Simon Charwey creates African Design Matters <span class="dots">  ....</span></h2>
            <div class="linx">
                <a class="press-link" href="https://ameyawdebrah.com/simon-charwey-creates-african-design-matters/">See More</a>
            
            </div>
        </div>
      </div>
    </div>
    <div class="messagetxt">
        <div class="press-content">
        <h2>June 24, 2020</h2>
        <div class="items">
            <h2 class="heading"><strong>Simon Charwey, </strong> founder of @africandesignmatters talk with Ben Loiz discussing design including indigenous African design systems and African Symbology<span class="dots">  ....</span></h2>
            <div class="linx">
                <a class="press-link" href="https://www.instagram.com/tv/CB1JxexhhTg/?igshid=1nqzlt7eb0evg ">See More</a>
            
            </div>
        </div>
      </div>
    </div>
    </div>
  
</div>

<div class="joinus">
    <div class="right-hero" data-aos="fade-up">
        <p>{% trans "Join the " %}<strong >African Design Matters,</strong> {% trans "an initiative dedicated to creating visibility and promoting African art and cultural heritage, design sensibility, and systems through the works of Black,  Indigenous, People of Color, Afro-Caribbean, and African-born creative people." %}</p>
    </div>
    <div class="left-hero">
        <img src="{% static 'home/img/Mask_1-02 2.png' %}" alt="">
    </div>
    
</div>
    {% for press in press_entries %}
    <div class="press">
      <h3 class="date">{{ press.date }}</h3>
    </div>
    {% endfor %}
  </div>

