.DS_Store
*.log
*.pot
*.pyc
__pycache__
local_settings.py
.env 
.venv 
env/ 
venv/
venvs/ 
ENV/ 
env.bak/ 
venv.bak/ 
db.sqlite3
/media/
*.bak 
pip-log.txt 
pip-delete-this-directory.txt 
celerybeat-schedule.* 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history