.formpage {
    width: 68vw;
    padding: 2.4vw;
    margin: 0 4vw;
}

.topprof {
    width: 68vw;
    display: inline-flex;
    border-bottom: 2px solid var(--admgreen);
    /* padding: 2.4vw 0; */
    /* margin: 0 4vw; */
}

.profileAvt {
    padding: 0 2.4vw 2.4vw 0;
    width: fit-content;
}

.avatarfrm {
    position: relative;
    width: fit-content;
}

.avatar {
    height: 90px;
    width: 90px;
    border: 2px solid var(--admgreen);
    box-shadow: 2px 4px 8px #000;
    object-fit: cover;
    border-radius: 100px;
}

.cam {
    background-color: var(--admgreen);
    border: none;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -9px;
    bottom: 12px;
    border-radius: 50px;
}

.profileDets {
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 2.4vw 0;
}

.profileDets p {
    font-size: 1.3vw;
    margin: 0;
}

.tintext {
    color: white;
    /* font-size: 1.3vw; */
}

input[type=file] {
    width: 100%;
    border: 2px solid var(--admgreen);
    padding: 9px;
    border-radius: 10px;
    font-size: 1.2vw;
    color: white;
    cursor: pointer;
}


input[type=file]::file-selector-button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--admgreen);
    color: white;
    padding: 8px 12px;
}

.spacingForm {
    display: inline-flex;
    width: 100%;
    color: white;
    margin: 1vw 0;
}

.radio-hint {
    margin-right: 3.5vw;
}

.radio-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    font-size: 17px;
}

.radio-container input[type=radio] {
    height: 20px;
    width: 20px;
    margin-right: 9px;
    appearance: none;
    border: 2px solid var(--admgreen);
    border-radius: 50px;
}

.radio-container input[type=radio]:checked {
    background-color: var(--admgreen);
}

.radio-container input[type=checkbox] {
    appearance: none;
    height: 19px;
    width: 19px;
    margin-right: 9px;
    background-color: transparent;
    border: 2px solid var(--admgreen);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.radio-container input[type="checkbox"]:checked::before {
    background-color: var(--admgreen);
    transform: scale(1.3);
}

.profilereading-txt {
    font-size: 1.3vw;
    width: 100%;
    margin: 0;
}

.profilereading {
    padding: 14px;
    outline: none;
    font-size: 19px;
    background-color: transparent;
    border: 2px solid var(--admgreen);
    color: white;
    border-radius: 10px;
    width: 100%;
}

#select {
    color: white;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 8px;
    height: fit-content;
    align-self: center;
    border: 2px solid var(--admgreen);
    outline: none;
    cursor: pointer;
}


.stCount {
    background-color: var(--admblack2);
    outline: none;
    padding: 6px 0;

}

#profiledesc {
    width: 100%;
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--admgreen);
    font-family: 'inter';
    height: 20vw;
}

.formsubmit {
    outline: none;
    height: 40px;
    border-radius: 8px;
    width: 100px;
    background-color: var(--admgreen);
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.vidLibrary {
    width: 100%;
    padding: 12px 5vw;
}

.vid-dets,
.shareing,
.addTags {
    color: white;
    margin-bottom: 3vh;
    align-items: center;
}

.vidLibrary video {
    width: 100%;
    min-height: 65vh;
}

.vidLibrary h2 {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 5px;
}

.pill-tabs {
    text-decoration: none;
    padding: 5px 20px;
    background-color: var(--admdeepgray);
    color: white;
    border-radius: 50px;
    margin: 4px;
    /* line-height: 3rem; */
    transition: all .25s linear;
    -o-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
}

.gBtn {
    outline: none;
    height: 45px;
    width: 120px;
    border-radius: 40px;
    background: var(--admgreen);
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

.gBtn-sm {
    outline: none;
    height: 30px;
    width: 100px;
    border-radius: 40px;
    background: var(--admgreen);
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

.pill-tabs:hover {
    background-color: var(--admgreen);
}

.seemore {
    padding: 5vw;
    color: white;
}

.detscaro {
    object-fit: cover;
    height: 35vw;
    object-position: center;
    width: 100%;
}

.messenger {
    margin-bottom: 8vw;
}

.txt {
    color: initial;
    transition: all .25s linear;
    -o-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
}

.messagetxt {
    color: white;
}

.messagetxt h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.messageSection {
    width: 50%;
    margin: auto;
    transition: all .25s linear;
    -o-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
}

.messagepost {
    display: flex;
    padding: 2.1rem;
}

.messagepost-sub {
    display: flex;
    background-color: var(--admlightgray);
    padding: 1.8rem;
    margin: 9px;
    border-top: 1px solid var(--admgreen);

}

.messageCont {
    border-bottom: 2px solid var(--admgreen);
    overflow: hidden;
}

.messageCont:last-child {
    border-bottom: none;
}

.msgProfile {
    padding-right: 15px;
}

.buttonicon {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .25s linear;
    -o-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
}

.buttonicon:hover {
    color: var(--admgreen);
}

.msgProfile img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid var(--admgreen);
    margin-top: 1rem;
    text-align: left;
}

.imgpost img {
    height: 20vw;
    max-width: 80%;
    object-fit: cover;
}

.imgpost {
    padding-top: 4rem;
}

.reply-inputline {
    position: relative;
    margin: 15px;
}

.reply-inputline input[type=text] {
    border-radius: 50px;
    font-size: 1.1rem;
    padding: 13px 15px 13px 65px;
    background-color: var(--admdeepgray);
    border: none;
    width: 85%;
    outline: none;
}

.reply-inputline img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 2px solid var(--admgreen);
    position: absolute;
    top: 2px;
    left: 10px;
}

.reply-inputarea {
    position: relative;
    margin: 15px;
}

.reply-inputarea img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 2px solid var(--admgreen);
}

.reply-inputarea h4 {
    margin: 16px;
    color: white;
}

.reply-inputarea textarea {
    background-color: transparent;
    width: 85%;
    height: 5rem;
    border: 1px solid #525252;
    padding: 5em 3em;
    font-family: 'inter';
    border-radius: 15px;
}









/* Responsive Breakpoints lowest */
@media only screen and (max-width: 1235px) {
    .first-ul {
        width: 68%;
    }

    .txt {
        font-size: 1vw;
    }

    .logofrme {
        height: 47px;
    }

    .joinus {
        padding: 12vw 7vw;
    }

    .pill-btn-lg {
        padding: 1vw 2vw;

    }

}

@media only screen and (max-width: 1088px) {
    .first-ul {
        width: 75%;
    }

    .rounded-btn-lg {
        font-size: 2vw;
    }

    .round-btn {
        font-size: 1.5vw;
    }

    input[type=file] {
        font-size: 17px;
    }

    .profileDets p {
        font-size: 17px;
    }

    .profilereading-txt {
        font-size: 17px;
    }

    .logofrme {
        height: 45px;
    }

    .long-txt {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 987px) {
    .navbar ul ul {
        gap: 3px 5px;
    }

    .messageSection {
        width: 80%;
    }

    .logofrme {
        height: 42px;
    }

    .f-middle a,
    .f-right a,
    .f-left a {
        font-size: 1rem;
    }

    .f-left h2 {
        font-size: 1.4rem;
        justify-content: left;
    }

    .f-left img {
        height: 3rem;
    }

    .f-left {
        width: 250px;
    }

    .pill-btn-lg {
        padding: 1vw 1.5vw;

    }
}

@media only screen and (max-width: 998px) {
    .cardslide img {
        height: 50vw;
    }

    .txt {
        font-size: 1.5vw;
    }

    .detscaro {
        height: 40vw;
        width: 40vw;
    }

    .cardslide h3 {
        width: 25vw;

    }

    .logofrme {
        height: 44px;
    }

    .joinus p {
        font-size: 1.4rem;
    }

    .admblack-btn {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 918px) {
    .first-ul {
        display: none;
    }

    .txt {
        font-size: 1.5vw;
    }

    .mobile-menu {
        display: block;
        padding: 0 30px;
        margin-left: auto;
        position: relative;
        z-index: 2;
    }

    .logofrme {
        height: 39px;
    }

    .mobile-menu .iconmenu {
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        text-align: end;
        /* animation-name: spin; */
    }

    .mobile-menu .iconmenu i {
        animation: spin 1s linear;
        animation-iteration-count: 1;
    }

    .admHeroBtn {
        bottom: -2vw;
        font-size: 2vw;
        right: 13vw;
    }

    .goldcoin {
        bottom: -4.3vw;
        right: 34vw;
        height: 10vw;
    }



    .pill-btn-lg {
        font-size: 1.2rem;
    }

    .pill-btn {
        font-size: 1rem;
        padding: 5px 20px;
    }

    .pill-btn::after,
    .pill-btn::before {
        height: 107%;
    }

    .pill-btn:hover::after {
        left: -6px;
        height: 107%;
    }

    .pill-btn:hover::before {
        right: -6px;
        height: 107%;
    }

    .pill-btn-lg::after {
        width: 1.6vw;
        max-width: 8px;
    }

    .pill-btn-lg::before {
        width: 1.6vw;
        max-width: 8px;
    }

}


@media only screen and (max-width: 767px) {
    .cardslide img {
        height: 70vw;
    }

    .txt {
        font-size: 1.4vw;
    }

    .logofrme {
        height: 35px;
    }

    .autoplay {
        width: 75vw;
        margin: auto;

    }

    .joinus p {
        font-size: 1.2rem;
    }

    .admblack-btn {
        font-size: 1rem;
    }

    .f-left h2 {
        font-size: 1.1rem;
        justify-content: left;
    }

    .f-left img {
        height: 2.4rem;
    }

    .f-left {
        width: 200px;
    }

    .f-Shals a {
        font-size: 1.1rem;
    }

    .f-Shals li {
        height: 30px;
        width: 30px;
    }

    .f-Shals ul {
        gap: 14px;
    }

    .f-Bhals p {
        font-size: 1.1rem;
    }

    .f-Bhals small {
        font-size: 0.7em;
    }

    .long-txt {
        font-size: 2vw;
    }

    .rounded-btn-lg {
        font-size: 2.5vw;
    }

    .round-btn {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 681px) {
    .sect-left {
        width: 80%;
    }

    .detscaro {
        height: 30vw;
        width: 100%;
    }

    .txt {
        font-size: 1.7vw;
    }

    .detscaro {
        height: 74vw;
        width: 100%;
    }

    .logofrme {
        height: 32px;
    }

    .sect-right {
        width: 20%;
    }

    .sect-right p {
        font-size: 2.4vw;
    }

    .pill-btn-lg {
        font-size: 2.5vw;
        padding: 2vw 3vw;
    }

    .exceptions::after {
        left: -1px;
    }

    .pill-btn::before {
        right: -4px;
    }

    .pill-btn::after {
        right: -4px;
    }

    .pill-btn:hover::before {
        right: -7px;
    }

    .pill-btn:hover::after {
        right: -7px;
    }


}

@media only screen and (max-width: 539px) {
    .f-Shals ul {
        padding: 0;
    }

    .messageSection {
        width: 95%;
    }

    .detscaro {
        height: 74vw;
        width: 100%;
    }

    .pill-btn-lg {
        font-size: 2vw;
        padding: 2vw 3vw;
    }

    .pill-btn {
        font-size: 2vw;
        padding: 1vw 3vw;
    }

    .logofrme {
        height: 30px;
    }

}


@media only screen and (max-width: 467px) {
    .admHeroBtn {
        bottom: -3vw;
        font-size: 1.5vw;
        border: 1px solid var(--admgreen);
        /* right: 13vw; */
    }

    .goldcoin {
        /* right: 34vw; */
        height: 8vw;
    }


}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--admblack2);
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid transparent;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}