{% extends 'home/base.html' %}
{% load static %}

{% block tabs %}
    
{% endblock tabs %}
    


{% block title %}{{user.get_full_name.title}}`s Profile{% endblock title %}


{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
</head>

<div id="profile">
    
    <div class="container">       
        <div class="card">
            <div class="background" data-aos="fade-up">
                
                <img src="{% static 'home/assets/film/annan/f1.png' %}" alt="" />
            </div>
            <div class='content' data-aos="fade-left">
                <h3 >{{user.get_full_name}}</h3>
                
                    
                <h3>Studio: {{user.studio}}</h3>
                <p>
                    {{user.profile.bio}} 
                    <h3>Specialties</h3>
                    {% for project in user.projects.all %}
                    <em style="border-left: var(--admgreen2) 1px dashed; height: fit-content; padding: 5px;">{{project.category.name}} </em>   
                    {% endfor %}
                        
                     
                </p>
                <ul class="social-icons">
                    <li>
                        <a href="#twitter" title="Twitter">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                                 stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"
                            >
                                <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 
                                        10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5
                                        4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                                >
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{{user.instagram_handle}}" title="Instagram">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                                 stroke-linecap="round" stroke-linejoin="round"
                            >
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#threads" title="Threads">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" 
                                 fill="none" stroke-linecap="round" stroke-linejoin="round"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M19 7.5c-1.333 -3 -3.667 -4.5 -7 -4.5c-5 0 -8 2.5 -8 9s3.5 9 8 9s7 -3 7
                                        -5s-1 -5 -7 -5c-2.5 0 -3 1.25 -3 2.5c0 1.5 1 2.5 2.5 2.5c2.5 0 3.5 -1.5 
                                        3.5 -5s-2 -4 -3 -4s-1.833 .333 -2.5 1"
                                >
                                </path>
                             </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#linkedin" title="Linkedin">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                                 class="feather feather-linkedin"
                            >
                                <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                                <rect x="2" y="9" width="4" height="12"/><circle cx="4" cy="4" r="2"/>
                            </svg>
                    </li>
                </ul>
            </div>
        </div>

    </div>
<div id="company-profile">
    <h2>More about {{user.first_name}}`s studio</h2>
   <p>{{user.profile.company_profile}}</p>
</div>
    


{% if user.projects.count > 0 %}
<div class="swiper-container" style="width: 350px;margin-left: 2.5%; display: flex; height: 100%; flex-direction: column; margin-top: 50px;">
    <h2 style="color: var(--admgreen2); text-decoration: none;border: none;">{{request.user.first_name}}`s Projects</h2>

    <div class="swiper"  style="width: 350px;">
        <div class="swiper-wrapper" style="width: 350px;height: 350px;">
         
         {% for project in user.projects.all  %}
         <div class="swiper-slide" style="width: 350px; height: 350px;">
            <img style="object-fit: contain; height: 100%; width: 100%;" src="{{project.banner.url}}" alt="" />
          </div>
         {% endfor %}
             
         
         
        </div>
      </div>

</div>
{% else %}
<h1 class="heading">
    {{user.first_name}} has not uploaded ay projects. Please come back soon
</h1>    
{% endif %}
    


</div>
{% endblock content %}


{% block javascript %}

<script>
    $(function(){
        $.ajax({
            url: '/api/projects',
            method: 'GET',
            dataType:'json',
            success: function(projects){
                
            }

        })
    })
</script>
    
{% endblock javascript %}
    