
:root {
    --background: #2C2C2C;
    --accent: var(--admgreen);
}


*{
    font-family: 'Inter', sans-serif;
}
#post-detail{
    width: 100%;
    margin: 50px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    background-color: transparent;
    color: var(--admgreen);
}
.banner{
    width: 100%;
    /* max-height: 600px; */
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.post-videos{
    
}

.title{
    font-size: 65px;
    color: var(--admgreen);
    padding: 0;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.subheading{
    color: #d1d1d1;
    margin-bottom: 30px;
    text-transform: lowercase;
}
.sub-title{
    font-size: 35px;
    color: var(--admgreen);
}

#post-content{
    font-size: 25px;
    color: #949494;
}
#post-content .desc{
    color: #949494;
}
.created{
    color: #949494;
    font-size: 10px;
}
#post-detail a{
    text-decoration: none;
    color: var(--admgreen);
    /* font-size: 20px; */
}

.post-menu{
    margin-left: -20px;
}

.post-menu, .tags{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.post-menu a, .tags a{
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
}
.tags a{
    border: var(--admgreen) 1px solid;
    border-radius: 5px;
    padding: 5px;
    color: var(--admgreen);
}

#tgs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-post{
    display: flex;
    width: 93%;
    margin: auto;
    
}

.post{
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #949494;
}

.side{
    /* flex:  0 0 30%; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-self: flex-start; */
    /* justify-content: center; */
   
}

.side *{
    color: #949494;
}

.other-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
   
}
.other-container a{
    margin: auto;
    text-align: center;
    align-self: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}

#comment-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: #949494 1px solid;
    margin-bottom: 100px;

}
.comment-count{
    color: var(--admgreen);
}
.comments{
    background-color: transparent;
    border-bottom: var(--admgreen);
    /* width: fit-content; */
    color: #949494;
    padding: 20px;
    font-size: 18px;
}


#form-button {
    border: 0px solid;
    outline: 2px solid;
    color: #d1d1d1;
    outline-color: #949494;
    outline-offset: 0px;
    text-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px; 
    width: 100%; 
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 550ms cubic-bezier(
        .36,.63,.5,.73
    );
    background-color: #2C2C2C;
}

#form-button:hover {
    border: 2px solid var(--accent);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: var(--accent);
}
::placeholder{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #949494;
}

.comment{
    display: flex;
    color: #949494;
    align-items: center;
}

.comment-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message{
    color: #949494;
}
.comm .created{
    font-size: 12px;
}
li{
    color: #949494;
}

.created{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 12px;
}