:root {
  --admblack: #020202;
  --admblack2: #020202e1;
  --admgreen: #C9D745;
  --admgreen2: #C9D745;
  --admgray: #D7D7D7;
  --admdeepgray: #3F3F3F;
  --admmauve: #D840F4;
}


*{
  font-family: sans-serif !important;
}
body{
  box-sizing: border-box;
  background-color: #1b1b1b;
  min-height: 100%;
  width: 100%;
}
#container {
    width: 95%;
    margin: 0 auto;
    height: 100%;
  }

  .heading{
    font-size: 35px;
    color: #d1d1d1;
  }