{% extends 'home/base.html' %}
{% load static %}


{% block content %}
<head>
<link rel="stylesheet" href="{% static 'home/css/base_form.css' %}">   
</head>
<div class="content">
<section id="pass-confirm">
    {% if validlink %}
       

    
    <div class="container">
        <div class="headline">
            <h1 class="center mt-5">Please Confirm Password Reset</h1>
        </div>
        
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-dark">
                Submit
            </button>
        </form>
    </div>

    {% else %}
    <div class="container">
        <p class="center">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    </div>

    {% endif %}
</section>
</div>


{% endblock %}