{% extends 'home/base.html' %}
{% load static %}



    {% block content %}

    <head>
        <style>
            #password-done{
                margin: 50px auto;
                padding-top: 30px;
                line-height: 1.7;
                text-align: center;
                font-size: 16px;
                width: 80%;
            }
        </style>
    </head>

    <section id="password-done">
        <div class="container ">
        
            <h4 class="center ">
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
                
            </h4>

        </div>

        <div class="container " data-aos="fade-left" data-aos-duration="1000">
            <p class="center highlight">
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>

        </div>
        <div class="container">
            
            <p class="center">
                <a class="btn btn-black" href="{% url 'home:index' %}">Home</a>
            </p>
        </div>

    </section>
    
{% endblock content %}
    
    {% block footer %}
        
    {% endblock footer %}
        