{% extends 'home/base.html' %}
{% load static %}


{% block title %}
    Password Has Been Reset
{% endblock title %}
    

{% block content %}

<head>
    <style>
        #pass-reset-complete{
            margin: 100px auto;
            padding-top: 60px;
        }
    </style>
</head>

<section id="pass-reset-complete">
    <div class="container headline" data-aos="flip-right" data-aos-duration="1000">
        <h1 class="center">Congratulations</h1>
    </div>
    <div class="container">
        <p class="pop" style="padding-top: 30px;">
            Your password has been reset. You may go ahead and  
        </p>
        <p class="center" style="padding-top: 50px;">
            <a class="btn btn-black" href="{% url 'accounts:login' %}">Sign In Now</a>
        </p>
    </div>

</section>

{% endblock %}