{% extends 'home/base.html' %}
{% load static %}


{% block title %}
Password Has Been Reset
    
{% endblock title %}


{% block content %}
<div id="password-reset-done">
    <div class="heading">
        <h1>Congratulations {{request.user.first_name}}. Your password has been reset successfully </h1>
    </div>
    <div>
        <p>You may visit </p>
        <div class="links">
            <a  href="{% url 'home:index' %}">Simon Charwey</a>  <a href="{% url 'accounts:profile' %}">My Profile</a>
        </div>
        
    </div>
</div>
    
{% endblock content %}
    