* {   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#dash {

    width: 95%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    height: 100%;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: flex-start;
}
#dash *{
    color: #c9d745;
} 
#other *{

    color: #f1f1f1;
}
#other{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.side {
    width: fit-content;
    flex: 0 0 15%;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    border: #c9d745 2px solid;
    align-items: center;
    height: fit-content;
    padding: 20px;
    
}

.dash-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;



}

.intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.center {
    text-align: center;
}

.title {
    color: #f1f1f1;
}

#myChart {
    height: 300px;
    /* width: 50%; */
}

#map {
    width: 95%;
    min-height: 400px;
    margin: auto;
   
}

.heading {
    color: #949494;
    font-size: 35px;
}

@media only screen and (max-width:600px) {
    #dash {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .side,
    .dash-content {
        width: 100%;
        flex-basis: 100%;
    }
}